
<p>Администаративная панель</p>
<p>Добавить блюдо </p>
<p>Все поля обязательные </p>
<form id="formAdminAdd" method="POST" action="/admin">
<select name="mealTime"> <!--Supplement an id here instead of using 'name'-->
  <option value="Breakfast" selected >Завтрак </option>
  <option value="Lunch">Обед</option>
  <option value="Supper">Ужин</option>
  <option value="Snack">Перекус</option>
</select>
  <label for=""><input type="text"  placeholder="Название блюда" name="title" value="Название блюда"  required pattern="^[A-Za-zА-Яа-яЁё\s]+$"></label>
  <label for="">  <input type="number" placeholder="Вес" name="weight"  value="1" required pattern="\d">гр</label>
  <label for="">  <input type="number" placeholder="Каллорийность" name="kall"  value="1" required pattern="\d">гр</label>
  <label for="">  <input type="number" placeholder="Белки " name="proteins"  value="1"  required pattern="\d">гр</label>
  <label for="">  <input type="number" placeholder="Жиры" name="fats" value="1"  required pattern="\d">гр</label>
  <label for="">  <input type="number" placeholder="Углеводы" name="carbohydrates" value="1"  required pattern="\d">гр</label>

  <button>Сохранить</button>
</form>


