<h4 align="center">Подбери себе едьбу</h4>
<form id="cCalForm" >
  <label for="">Введи количество каллорий</label> <br>
  <input placeholder="minCcal" type="text" value="" name="minCCal">
  <button name="btn">Отправить</button>
      <label for="">ВЫбери количество приемов пищи</label>
  <select name="current">
      {{!-- <option value="chooseMealTime">choose mealTime</option> --}}
      <option selected value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
      <select name="planFood">
      <option selected value="25/25/50">25Б/25Ж/50У</option>
    </select>
</form>

<div class='divContainer'>

</div>




{{!-- 
<ul id='ulList'>
</ul> --}}
