<section>
  <form action="" id="formConstructor">
  <input type="text" name="kall">
  <input type="text" name="mealCount">
  <input type="text" name="pfc">

</form>
<div>
  <div data-id="">
  <p>Время приема</p>
  <div>
    <p>
      Название блюда - граммовка 
      Название блюда - граммовка 
    </p>
    <p>
      Б:белки Ж:жиры У:углеводы Каллории:калл
    </p>
  </div>
</div>
</div>
</section>

