<section>
  <div>

  </div>
  <nav>
    <ul>
      {{username}}
      <li><a href="">login</a></li>
      <li><a href="">regis</a></li>
      <li><a href="">logout</a></li>
      <li><a href="">constructor</a></li>
      <li><a href="">admin panel</a></li>
      

    </ul>
  </nav>
</section>

