<form action="/constructor" id="logForm">
  <input type="text" placeholder="Эл.адрес" required />
  <input type="text" placeholder="Пароль" required />
  <button type="submit">Вход</button>
  <button type="reset">Сбросить</button>

</form>
