<div>Создать аккаунт
  <p>Быстро и легко.</p>
</div>

<form action="/constructor" id="regForm">
  <input type="text" placeholder="Имя" required />
  <input type="text" placeholder="Эл.адрес" required />
  <input type="password" placeholder="Пароль" required />
  <button type="submit">Регистрация</button>
  <button type="reset">Сбросить</button>

</form>
